div{
   background-color: aquamarine;
   color: crimson;
   font-size: large;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   border: 10px solid rgb(25, 33, 193);
   text-align: center;
   
}